.footer {
	max-width: 1980px;
	margin: 50px auto 0 auto;
	padding: 0 15px;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(154, 181, 240);
}